* {
  box-sizing: border-box;
}

.bulbitCartaInteracti {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e8d2a8;
  width: 390px;
  height: 2117px;

  .container4 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }

  .topNavigationHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #19669a1a;
    background: #e8d2a8f2;
    backdrop-filter: blur(6px);

    .container5 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding: 16px;
      max-width: 896px;

      .container2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;

        .container {
          flex-shrink: 0;
          width: 23px;
          height: 15px;
        }
      }

      .container3 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;

        .text {
          flex-shrink: 0;
          line-height: 30px;
          letter-spacing: -0.6px;
          color: #19669a;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .text2 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 2px;
          color: #ac0107;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }
      }

      .button {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;

        .background {
          display: flex;
          position: absolute;
          top: 8px;
          right: 8px;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          background: #ac0107;
          width: 16px;
          height: 16px;

          .text3 {
            flex-shrink: 0;
            line-height: 15px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
          }
        }
      }
    }

    .navCategoryTabs {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      overflow: hidden;

      .horizontalBorder {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        column-gap: 16px;
        margin-right: -86px;
        border-width: 0px 0px 1px;
        border-style: solid;
        border-color: #19669a1a;
        padding-right: 16px;
        padding-left: 16px;

        .container6 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          border-width: 0px 0px 2px;
          border-style: solid;
          border-color: #19669a;
          padding: 16px 8px 10px;

          .text4 {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: #19669a;
            font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 700;
          }
        }

        .text5 {
          flex-shrink: 0;
          padding: 16px 8px 14px;
          width: 147px;
          line-height: 20px;
          letter-spacing: 0;
          color: #475569;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .text6 {
          flex-shrink: 0;
          padding: 16px 8px 14px;
          width: 110px;
          line-height: 20px;
          letter-spacing: 0;
          color: #475569;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .text7 {
          flex-shrink: 0;
          padding: 16px 8px 14px;
          width: 73px;
          line-height: 20px;
          letter-spacing: 0;
          color: #475569;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding-top: 16px;
    padding-bottom: 96px;

    .container10 {
      display: flex;
      position: absolute;
      top: 1921px;
      right: 0;
      left: 0;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border-width: 1px 0px 0px;
      border-style: solid;
      border-color: #19669a1a;
      box-shadow: 0px -4px 10px 0px #0000000d;
      background: #fffffff2;
      padding: 8px 16px 16px;
      width: 390px;
      height: 64px;

      .text9 {
        flex-shrink: 0;
        line-height: 15px;
        letter-spacing: 0.5px;
        color: #94a3b8;
        font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 700;
        text-transform: UPPERCASE;
      }

      .link {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        row-gap: 4px;

        .container7 {
          flex-shrink: 0;
          width: 18px;
          height: 18px;
        }

        .text8 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0.5px;
          color: #19669a;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }
      }

      .link2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        row-gap: 4px;

        .container8 {
          flex-shrink: 0;
          width: 20px;
          height: 18px;
        }
      }

      .link3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        row-gap: 4px;

        .container9 {
          flex-shrink: 0;
          width: 18px;
          height: 20px;
        }
      }

      .link4 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        row-gap: 4px;
      }
    }

    .heroSearchFilter {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      z-index: 1;
      border: 1px solid #19669a1a;
      border-radius: 12px;
      background: #ffffff80;
      padding: 7px 15px;
      width: 358px;

      .margin {
        flex-shrink: 0;
        width: 26px;
        height: 18px;
      }

      .container11 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding: 9px 12px;
        overflow: hidden;

        .buscarPlato {
          flex-shrink: 0;
          align-self: stretch;
          letter-spacing: 0;
          color: #6b7280;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .sectionTitle {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      z-index: 2;
      padding: 24px 16px 8px;

      .text10 {
        flex-shrink: 0;
        line-height: 28px;
        letter-spacing: 0;
        color: #19669a;
        font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      .overlay {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 4px;
        background: #19669a1a;
        padding: 4px 8px;

        .text11 {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #19669a;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .menuGrid {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      z-index: 3;
      padding: 16px;

      .container18 {
        flex-shrink: 0;
        align-self: stretch;
        width: 12px;
        height: 15px;
      }

      .text13 {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 15px;
        letter-spacing: 0.5px;
        color: #64748b;
        font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 700;
        text-transform: UPPERCASE;
      }

      .image {
        flex-shrink: 0;
        align-self: stretch;
        width: 356px;
        height: 200px;
      }

      .button2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 8px;
        background: #19669a;
        padding: 8px 16px;

        .container15 {
          flex-shrink: 0;
          width: 8px;
          height: 8px;
        }

        .text14 {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 700;
        }
      }

      .container12 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding-bottom: 16px;
        overflow: hidden;

        .costillasDeTerneraPr {
          flex-shrink: 0;
          align-self: stretch;
          width: 324px;
          line-height: 20px;
          letter-spacing: 0;
          color: #475569;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .paragraph {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-bottom: 8px;

        .heading3GalbiCostill {
          flex-shrink: 0;
          line-height: 23px;
          letter-spacing: 0;
          color: #0f172a;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }

        .text12 {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: #ac0107;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .item1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border: 1px solid #19669a0d;
        border-radius: 12px;
        box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
        background: #ffffff;
        overflow: hidden;

        .container17 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          padding: 16px;

          .container16 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .container14 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: flex-start;
              column-gap: 4px;

              .container13 {
                flex-shrink: 0;
                align-self: stretch;
                width: 9px;
                height: 15px;
              }
            }
          }
        }
      }

      .item2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 24px;
        border: 1px solid #19669a0d;
        border-radius: 12px;
        box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
        background: #ffffff;
        overflow: hidden;

        .container21 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          padding: 16px;

          .container20 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .container19 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: flex-start;
              column-gap: 4px;
            }
          }
        }
      }

      .item3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 24px;
        border: 1px solid #19669a0d;
        border-radius: 12px;
        box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
        background: #ffffff;
        overflow: hidden;

        .container25 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          padding: 16px;

          .container24 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .container23 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: flex-start;
              column-gap: 4px;

              .container22 {
                flex-shrink: 0;
                align-self: stretch;
                width: 10px;
                height: 15px;
              }
            }
          }
        }
      }

      .item4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 24px;
        border: 1px solid #19669a0d;
        border-radius: 12px;
        box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
        background: #ffffff;
        overflow: hidden;

        .container28 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          padding: 16px;

          .container27 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .container26 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: flex-start;
              column-gap: 4px;

              .text15 {
                flex-shrink: 0;
                align-self: stretch;
                line-height: 15px;
                letter-spacing: 0.5px;
                color: #ac0107;
                font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 10px;
                font-weight: 700;
                text-transform: UPPERCASE;
              }
            }
          }
        }
      }
    }

    .featuredBanchanSecti {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      z-index: 4;
      padding: 32px 16px 16px;
      row-gap: 16px;

      .acompaAmientosInclui {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 28px;
        letter-spacing: 0;
        color: #19669a;
        font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      .container32 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding-bottom: 16px;
        overflow: hidden;

        .text16 {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #0f172a;
          font-family: "Be Vietnam Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }

        .overlayShadow {
          flex-shrink: 0;
          border-radius: 9999px;
          box-shadow: 0px 4px 6px -1px #0000001a, 0px 2px 4px -2px #0000001a;
          background: #ffffff01;
          width: 96px;
          height: 96px;
        }

        .container29 {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          padding-right: 22px;
          padding-left: 22px;
          min-width: 140px;

          .margin2 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            padding-bottom: 4px;
            width: 96px;
            height: 104px;

            .backgroundBorder {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: center;
              margin: -4px -4px 0px;
              border: 4px solid #ffffff;
              border-radius: 9999px;
              background-image: url(../image/mnwu9n5w-xauc5br.png);
              background-position: left top;
              background-size: 88px 88px;
              background-repeat: repeat;
            }
          }
        }

        .container30 {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          margin-left: 16px;
          padding-right: 22px;
          padding-left: 22px;
          min-width: 140px;

          .margin3 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            padding-bottom: 4px;
            width: 96px;
            height: 104px;

            .backgroundBorder2 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: center;
              margin: -4px -4px 0px;
              border: 4px solid #ffffff;
              border-radius: 9999px;
              background-image: url(../image/mnwu9n5w-7pg3ic0.png);
              background-position: left top;
              background-size: 88px 88px;
              background-repeat: repeat;
            }
          }
        }

        .container31 {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          margin-left: 16px;
          padding-right: 22px;
          padding-left: 22px;
          min-width: 140px;

          .margin4 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            padding-bottom: 4px;
            width: 96px;
            height: 104px;

            .backgroundBorder3 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: center;
              margin: -4px -4px 0px;
              border: 4px solid #ffffff;
              border-radius: 9999px;
              background-image: url(../image/mnwu9n5x-v920ss0.png);
              background-position: left top;
              background-size: 88px 88px;
              background-repeat: repeat;
            }
          }
        }
      }
    }
  }
}
